*~
*.o
*.c
*.la
*.lo
*.so
*.a
*.stamp
Makefile
Makefile.in
/configure
/libtool
/aclocal.m4
/config.log
/config.status
.deps
.libs
/autom4te.cache
/INSTALL
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/valadoc
