<?xml version="1.0" encoding="UTF-8"?>

<emperor-config>
    <modules>
        <load name="basic_columns"/>
        <load name="filters"/>
        <load name="basic_actions"/>
        <load name="file_transfer"/>
        <load name="sort"/>
        <load name="volume_toolbar"/>
        <load name="netmenu"/>
        <load name="monitor_directory"/>
    </modules>
    <user-interface>
        <file-pane>
            <style>
                <!--
                <cursor pane="active" bg="gtk:background-color:selected" fg="gtk:color:selected"/>
                <cursor pane="passive" bg="gtk:background-color:prelight"/>
                -->
                <selected fg="#ff0000"/>
                <symlink style="italic"/>
            </style>
            <columns>
                <column title="Name" default-width="190">
                    <cell data="icon"/>
                    <cell data="filename-F" sort="filename-collation"/>
                </column>
                <column title="Size" default-width="75">
                    <cell data="size" sort="size"/>
                </column>
                <column title="Date" default-width="120">
                    <cell data="mtime" sort="datetime"/>
                </column>
                <column title="Mode">
                    <cell data="mode" sort="text"/>
                </column>
            </columns>
        </file-pane>
        <command-bar>
            <command-button action="rename"/>
            <command-button action="view"/>
            <command-button action="edit"/>
            <command-button action="copy"/>
            <command-button action="move"/>
            <command-button action="mkdir"/>
            <command-button action="delete"/>
            <command-button action="quit"/>
        </command-bar>
    </user-interface>
</emperor-config>
