<?xml version="1.0" encoding="UTF-8"?>

<emperor-config>
    <modules>
        <load name="basic_columns"/>
        <load name="filters"/>
        <load name="basic_actions"/>
        <load name="file_transfer"/>
        <load name="sort"/>
        <load name="file_pane_title_bar"/>
        <load name="volume_toolbar"/>
        <load name="netmenu"/>
        <load name="monitor_directory"/>
        <load name="externalist"/>
        <load name="preview"/>
		<load name="quick_filter"/>
    </modules>
    <user-interface>
        <file-pane>
            <style>
                
                <cursor pane="active" bg="gtk:entry:background-color:selected" fg="gtk:entry:color:selected"/>
                <cursor pane="passive" bg="gtk:entry:background-color:selected|backdrop"
                        bg="gtk:entry:color:selected|backdrop"/>
                
                <selected fg="red"/>
                <symlink style="italic"/>
            </style>
            <columns>
                <column xtitle="Name" default-width="190">
                    <cell data="icon"/>
                    <cell data="filename-F" sort="filename-collation"/>
                </column>
                <column xtitle="Size" default-width="75">
                    <cell data="size" sort="size"/>
                </column>
                <column xtitle="Date" default-width="120">
                    <cell data="mtime" sort="datetime"/>
                </column>
                <column xtitle="Mode">
                    <cell data="mode" sort="text"/>
                </column>
            </columns>
        </file-pane>
        <command-bar>
            <command-button action="rename"/>
            <command-button action="view"/>
            <command-button action="edit"/>
            <command-button action="copy"/>
            <command-button action="move"/>
            <command-button action="mkdir"/>
            <command-button action="delete"/>
            <command-button action="openterm"/>
        </command-bar>
    </user-interface>
</emperor-config>
